.features-icons {
    font-size: 6rem;
    margin: 3rem 0;
    color: $color-light-blue;
}

.section-features {

    &__feature {

        background-color: rgb(206, 214, 224);
        padding: 1rem;
        margin-top: 15rem;
        border-radius: 3px;
        box-shadow: .3rem 1.5rem 4rem rgba(0, 0, 0, .8);
        opacity: .8;
        transition: all .5s;
        


        &:hover {
            transform: translateY(-2rem) scale(1.02);
            box-shadow: 2rem 4rem 7rem rgba(0, 0, 0, .8);

        }


    }

    & {

        transform: skewY(-5deg);
        margin-top: -8rem;
    }

    & > * {
        transform: skewY(5deg);
    }
}
