$color-light-grey: rgb(52, 73, 94);
$color-dark-grey: rgb(44, 62, 80);
$color-light-green: rgb(46, 204, 113);
$color-dark-green: rgb(39, 174, 96);
$color-light-blue:rgb(52, 152, 219);
$color-dark-blue:rgb(41, 128, 185);
$color-text-grey:rgb(149, 165, 166);
$color-white:rgb(236, 240, 241);
$color-bg-grey:rgb(241, 242, 246);
$color-text-grey:rgb(149, 165, 166);
$color-light-red:rgb(231, 76, 60);
$color-dark-red:rgb(192, 57, 43);
$color-light-orange:rgb(230, 126, 34);
$color-light-orange:rgb(230, 126, 34);
$color-dark-orange:rgb(211, 84, 0);
$color-light-purple:rgb(155, 89, 182);
$color-dark-purple:rgb(142, 68, 173);
$color-bg-white:rgb(236, 240, 241);



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
